extends layout

block content
  //Navigation
  nav#mainNav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
    .container
      a.navbar-brand.js-scroll-trigger(href='#page-top')
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation') 
        span.navbar-toggler-icon
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#bicicletas') Bicicletas
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#nosotros') Nosotros
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#contacto') Contacto
  header.bg-info.text-white
    .container.text-center
      h1 Red de Bicicletas
      p.lead Comunidad de ciclistas
  section#bicicletas
    .container
      .row
        .col-lg-8.mx-auto
          h2 Bicicletas
          br
          #main_map 
  section#nosotros
    .container
      .row
        .col-lg-8.mx-auto
          h2 Nosotros
          p.lead
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.
  section#contacto
    .container
      .row
        .col-lg-8.mx-auto
          h2 Contacto
          p.lead
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.
  // Footer
  footer.py-5.bg-dark
    .container
      p.m-0.text-center.text-white Copyright &copy; Your Website 2020
    // /.container
  // Bootstrap core JavaScript
  script(src='/vendor/jquery/jquery.min.js')
  script(src='/vendor/bootstrap/js/bootstrap.bundle.min.js')
  // Plugin JavaScript
  script(src='/vendor/jquery-easing/jquery.easing.min.js')
  // Custom JavaScript for this theme
  script(src='/javascripts/scrolling-nav.js')
  script(src='/javascripts/map.js')


